body {
    color: rgb(51, 51, 51);
    font-family: Arial, 微软雅黑, 'Microsoft yahei', 'Hiragino Sans GB', '冬青黑体简体中文 w3', 'Microsoft Yahei', 'Hiragino Sans GB', '冬青黑体简体中文 w3', STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}

.progress-container{
	height:10px;
	background: gray;
	margin-right:10px;
}
.progress-bar{
	height: 10px;
	background: #d9534f;
}
.resumable-progress{
	margin-top:20px;
}